* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.formfields {
  border: 5px solid #d0d2d5;
  border-radius: 4px;
  margin: auto;
  padding: 30px;
  max-width: 250px;
  background: #6600FF;
  color: White;
}

.nav-bar li {
  display:inline-block;
}

.vertical-container {
  display: -webkit-flex;
  display: flex;
  border: 2px solid black;
  max-width: 400px;
  position: absolute;
}

.right-side-bar {
  display: -webkit-flex;
  display: flex;
  border: 2px solid black;
  margin-left: 400px;
  max-width: 400px;
}

.background-container {
  position: relative;
  border: 5px solid #d0d2d5;
  border-radius: 4px;
}

.nav-bar {
  background: Gold;
  display: block;
}

body {
  background: #ffffff;
  color: #333333;
  font-size: 0.875em;
  line-height: 1.65em;
  font-family: 'PT Sans', Arial, "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  background-image:url('/images/placeholder.png');
}

a {
  color: #336699;
}
a:focus,
a:hover {
  color: #ef6465;
}

/*img {
  float : left;
  margin: 0 0 10em 1em;
}*/