* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.login {
  border: 5px solid #d0d2d5;
  border-radius: 4px;
  margin: auto;
  padding: 30px;
  max-width: 250px;
  background: #6600FF;
  color: White;
}

li {
  display:inline-block;
}

.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px;
  border: 2px solid black;
}
.vertically-centered {
  margin: auto;
}